@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

@layer base {
    * {
        font-size: 16px;
        font-family: "Cormorant Garamond", serif;
        color: #1f1f1f;
    }

    a {
        text-transform: uppercase;
        font-size: clamp(0.8rem, 4.6vw, 1.125rem)
    }

    h1 {
        font-size: clamp(2.6rem, 4.6vw, 3.625rem);
    }
}



@theme {
    --breakpoint-*: initial;
    --breakpoint-mobile: 0rem;
    --breakpoint-tablet: 50.625rem;
    --breakpoint-desktop: 75rem;

    --font-vibes: "Great Vibes", cursive;
    --font-cormorant: "Cormorant Garamond", serif;

    --color-vanilla: #D1BEA1;
    --color-sandrift: #A89982;
}

@layer components {
    /* UNIVERSAL */
    .tm-logo {
        @apply w-[128px]
    }

    .button {
        @apply tablet:w-40.25 h-15 mobile:w-42.25 bg-sandrift text-lg font-extralight uppercase text-white
    }

    .flex-center {
        @apply flex justify-around items-center
    }

    /* NAVBAR */

    .navbar {
        @apply bg-white opacity-85 p-6 fixed left-0 right-0 z-50
    }

    .navbar-openMenu-aside {
        @apply bg-[#F2F2F2] absolute w-full h-screen left-0 mt-6 origin-top overflow-hidden
    }

    /* MAIN CONTAINER */

    .main-container {
        @apply max-w-360 mx-auto desktop:px-10 mobile:px-5 mobile:bg-red-500 tablet:bg-green-500 desktop:bg-white
    }

        /* HOME */

            /* HERO */
            .hero {
                @apply relative bg-[url('./assets/Images/TessaMorgan.jpg')] bg-position-[center_50%] bg-cover
                bg-no-repeat h-screen w-full
            }

            .overlay {
                @apply bg-black/30 h-full w-full
            }

            .hero-content-wrapper {
                @apply desktop:w-7/10 tablet:w-76/100 flex flex-col items-center
            }

            .hero-timeless {
                @apply font-vibes text-vanilla text-[clamp(2.5rem,4.6vw,3.5rem)] font-extralight
            }

            .hero-header {
                @apply font-light text-white text-center mb-6
            }

    /* FOOTER */
    .footer {
        @apply flex flex-col desktop:px-10 mobile:px-5
    }

    .footer-nav {
        @apply py-10 bg-[#EBEBEB]
    }

    .footer-nav-ul {
        @apply flex mobile:flex-col mobile:items-center mobile:gap-6 desktop:flex-row desktop:justify-around
    }

    .footer-contents {
        @apply flex flex-col items-center gap-6 bg-[#F0EDE6]
    }

    .footer-contents-stack {
        @apply flex flex-col items-center desktop:pt-10 gap-6 mobile:p-6 desktop:order-1 mobile:order-2
    }

        .footer-contents-stack-text {
            @apply text-center desktop:max-w-6/10 mobile:max-w-8/10
        }

    .footer-contents-socials {
        @apply flex justify-center gap-6 mobile:pt-6 desktop:order-2 mobile:order-1
    }

    .footer-contents-copyright {
        @apply desktop:flex desktop:justify-center mobile:pb-6 desktop:order-3 mobile:order-3
    }
}